.right {
  float: right;
}
.left {
  float: left;
}
.hide-section {
  display: none !important;
}
.show-section {
  display: block !important;
}
html {
  background-color: #fff;
  background-image: url(../images/site-bg.jpg);
  background-repeat: repeat;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}
body {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  padding: 0.5em 0.5em 0;
}
footer {
  color: #666;
  padding: 0.5em 0;
  text-align: center;
}
main {
  width: 80%;
  max-width: 1000px;
  padding: 1em 0.5em;
  margin: 0 auto;
}
@media only screen and (max-width: 680px) {
  main {
    width: 90%;
  }
}
.info_block {
  padding: 1em 0.5em;
}
.info_block:nth-child(odd) {
  background-color: #eee;
}
@media only screen and (max-width: 680px) {
  .info_block:nth-child(odd) {
    background-color: #fff;
  }
}
.info_block:nth-child(odd) img {
  float: right;
  margin-left: 1em;
  width: 40%;
  max-width: 350px;
}
@media only screen and (max-width: 680px) {
  .info_block:nth-child(odd) img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
}
.info_block:nth-child(odd) p {
  margin-left: 5em;
}
@media only screen and (max-width: 1100px) {
  .info_block:nth-child(odd) p {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 680px) {
  .info_block:nth-child(odd) p {
    float: none;
    margin-left: 0;
  }
}
.info_block:nth-child(odd) h3 {
  margin-left: 4.3em;
}
@media only screen and (max-width: 1100px) {
  .info_block:nth-child(odd) h3 {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 680px) {
  .info_block:nth-child(odd) h3 {
    float: none;
    margin-left: 0;
    margin-top: 1em;
  }
}
.info_block:nth-child(even) img {
  float: left;
  margin-right: 1em;
  margin-left: -0.5em;
  width: 40%;
  max-width: 350px;
}
@media only screen and (max-width: 680px) {
  .info_block:nth-child(even) img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
}
.info_block h3 {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media only screen and (max-width: 680px) {
  .info_block h3 {
    margin-top: 1em;
  }
}
.info_block p {
  line-height: 1.4;
  color: #333;
  width: 45%;
  float: left;
  margin: 0.5em 0 0;
}
@media only screen and (max-width: 680px) {
  .info_block p {
    width: 100%;
  }
}
.info_block .text_content {
  margin-top: 4em;
}
@media only screen and (max-width: 1100px) {
  .info_block .text_content {
    margin-top: -1em;
  }
}
@media only screen and (max-width: 680px) {
  .info_block .text_content {
    display: block;
    width: 100%;
  }
}
#video {
  line-height: 1.4;
  color: #333;
}
#video p {
  width: 80%;
  margin: 1em auto;
}
@media only screen and (max-width: 680px) {
  #video p {
    width: 100%;
  }
}
#video h3 {
  display: block;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  font-size: 2em;
}
#video .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 680px) {
  #video .embed-container {
    width: 100%;
    max-width: 100%;
  }
}
#video .embed-container iframe,
#video .embed-container object,
#video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#splash h2 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}
.body_copy {
  line-height: 1.4;
  color: #333;
}
header {
  border-bottom: #eee solid 1px;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
header .mobile-nav {
  display: none;
}
@media only screen and (max-width: 680px) {
  header {
    width: 100%;
    border-bottom: none;
  }
  header .mobile-nav {
    color: #4290c5;
    display: block;
    text-align: center;
    width: 90%;
    margin: 1em auto 0;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #eee;
  }
  header .expanded {
    display: block;
  }
  header .hidden {
    display: none;
    border-bottom: 0 !important;
  }
}
#logo {
  float: left;
  width: 150px;
}
@media only screen and (max-width: 680px) {
  #logo {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
  }
}
nav {
  color: #fff;
  float: left;
  width: 60%;
}
nav ul {
  list-style-type: none;
  margin: 0.5em 0 1em;
}
nav ul li {
  display: inline;
  padding-right: 0.5em;
}
nav ul li a {
  transition: all 0.4s ease;
  text-decoration: none;
  color: #4290c5;
}
nav ul li a:hover {
  transition: all 0.4s ease;
  color: #316B92;
}
@media only screen and (max-width: 680px) {
  nav {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  nav .nav-cart {
    border-bottom: none;
  }
  nav ul {
    display: block;
    margin: 1em auto 0;
    width: 90%;
    padding: 0;
  }
  nav ul li {
    display: block !important;
    width: 100%;
    margin: 1em auto 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  nav ul li a {
    display: block !important;
    width: 100%;
    padding-bottom: 1em;
  }
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
