<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="last-modified" content="{{site.time | date_to_rfc822 }} GMT" />
<meta http-equiv="cache-control" content="Private" />
<meta http-equiv="Expires" content="600" />
<link rel="apple-touch-icon" href="favicon-apple-touch.png">
<link rel="author" href="https://plus.google.com/102787088658228574347"/>
{% comment %} Page Title {% endcomment %}
{% if page.metatitle %}
  {% if page.metatitle == "NONE" %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.metatitle }} | Onfiredesigns.com</title>
  {% endif %}
{% else %}
  <title>{{ site.title }}</title>
{% endif %}
{% comment %} Page Description {% endcomment %}
{% if page.metadesc %}
  <meta name="description" content="{{ page.metadesc | strip_html | strip_newlines }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">