{% if page.url == '/' %}
  {% assign home_class = ' active' %}
{% elsif page.url contains 'example/' %}
  {% assign example_class = ' active' %}
{% endif %}

<footer class="site-footer">
    <div class="footer_content group">
      <div class="footer-left col-12 span-8">
        <ul class="footer-nav-main-list">
          <li class="nav-home first{{ home_class }}">
            <a href="/">Home</a>
            <span class="link-hor-sep"> | </span>
          </li>
          <li class="nav-example {{ example_class }}">
            <a href="/">Example</a>
          </li>
        </ul>
        <p>Copyright &copy; {{ site.time | date: '%Y' }} - SOMEPLACE. All rights reserved.</p>
      </div>
      <div class="footer-right col-12 span-4">
        <div class="footer_logo">
          <a href="/">Home</a>
        </div>
      </div>
    </div>
</footer>


