{% if page.url contains 'setup/' %}
  {% assign setup-class = ' active' %}
{% elsif page.url contains 'example/' %}
  {% assign about-class = ' active' %}
{% elsif page.url contains 'index' %}
  {% assign home-class = ' active' %}
{% endif %}


<header class="clearfix">
  <a href="index.html"><img id="logo" src="images/speedy_mama.png"/></a>
    <nav>
      <ul class="clearfix">
        <li class="nav-cool {{ home-class }}">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-home first{{ setup-class }}">
          <a href="setup.html">Get Started</a>
        </li>
        <li class="nav-example {{ about-class }}">
          <a href="about.html">About</a>
        </li>
      </ul>
    </nav>
</header>
