{% if page.url == '/' %}
  {% assign home_class = ' active' %}
{% elsif page.url contains 'example/' %}
  {% assign example_class = ' active' %}
{% endif %}


<header class="site-header section">
  <div class="header-top group">
    <div class="header-top-links">
    </div>
  </div>
  <div class="header-main group">
    <div class="logo col-12 span-4">
    </div>
    <nav class="nav-main col-12 span-8">
      <ul class="nav-main-list">
        <li class="nav-home first{{ home_class }}">
          <a href="/">Home</a>
        </li>
        <li class="nav-example {{ example_class }}">
          <a href="/">Example</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
