{% if page.url contains 'setup/' %}
  {% assign setup-class = ' active' %}
{% elsif page.url contains 'example/' %}
  {% assign about-class = ' active' %}
{% elsif page.url contains 'index' %}
  {% assign home-class = ' active' %}
{% endif %}


<header class="clearfix">
  <a href="index.html"><img id="logo" src="images/speedy_mama.png"/></a>
  <a class="mobile-nav" href="#" onclick="expandNav();">MENU</a>
    <nav class="hidden">
      <ul class="clearfix">
        <li class="nav-home first {{ home-class }}">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-build {{ build-class }}">
          <a href="#" onclick="showBuild">Get Started</a>
        </li>
        <li class="nav-about {{ about-class }}">
          <a href="#" onclick="showAbout">About</a>
        </li>
        <li class="nav-cart {{ cart-class }}">
          <a href="#" onclick="showCart">Cart</a>
        </li>
      </ul>
    </nav>
</header>
