//Pull in the framework here.
// ================= COLORS ================= //
@light-gray: #eee;
@medium-gray: #666;
@dark-gray: #333;
// ================= MIXINS ================= //
.border-bottom{
  border-bottom: @light-gray solid 1px;
}
// =============== SEMANTIC ================ //
html{
  background-color: #fff;
  color: @dark-gray;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}
body {
  background-color: #fff;
  margin: 0 auto;
  padding: .5em .5em 0 .5em;
}
footer{
  color:@medium-gray;
  padding: .5em 0;
  text-align: center;
}
main{
  width:80%;
}
.info_block{
  h3{
    color: @medium-gray;
    font-weight: bold;
    text-transform: capitalize;
  }
  p{
    .body_copy;
  }
}
.right{
  background-color: @light-gray;
}
// ============== TYPOGRAPHY ============== //
#splash{
  h2{
    text-align: center;
    font-weight: bold;
  }
}
.body_copy{
  line-height: 1.4;
  color: @dark-gray;
}
// ============== NAVIGATION ============= //
nav{
  color: #fff;
  .border-bottom;
  ul{
    list-style-type: none;
    padding: 0px;
    width: 50%;
    float: right;
    li{
      display: inline;
      a{
        text-decoration: none;
      }
    }
  }
}
