//Pull in the framework here.
// ================= COLORS ================= //
@light-gray: #eee;
@medium-gray: #666;
@dark-gray: #333;
@light-cream: #f0eae2;
@blue: #4290c5;
@dark-blue: #316B92;
// ================= MIXINS ================= //
.right{
  float:right;
}
.left{
  float:left;
}
// =============== SEMANTIC ================ //
html{
  background-color: #fff;
  color: @dark-gray;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}
body {
  background-color: #fff;
  margin: 0 auto;
  padding: .5em .5em 0 .5em;
}
footer{
  color:@medium-gray;
  padding: .5em 0;
  text-align: center;
}
main{
  width:80%;
  padding: 1em .5em;
  margin: 0 auto;
}
.info_block{
  padding: 1em .5em;
  &:nth-child(odd){
    background-color: @light-gray;
    img{
      float: right;
      margin-left:1em;
    }
    p, h3{
      margin-left: 350px;
    }
  }
  &:nth-child(even){
    img{
      float:left;
      margin-right: 1em;
      margin-left: -.5em;
    }
  }
  h3{
    color: @dark-gray;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom:0;
  }
  p{
    .body_copy;
    width: 50%;
    float: left;
    margin: .5em 0 0 0;
  }
  .text_content{
    margin-top: 4em;
  }
} // info_block
// ============== TYPOGRAPHY ============== //
#splash{
  h2{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
  }
}
.body_copy{
  line-height: 1.4;
  color: @dark-gray;
}
// ============== NAVIGATION ============= //
header{
  border-bottom: @light-gray solid 1px;
  img{
    float:left;
    width: 150px;
    max-width:150px
  }
}
nav{
  color: #fff;
  float: left;
  width:80%;
  ul{
    list-style-type: none;
    padding: 0px .5em 0 0;
    li{
      display: inline;
      a{
        text-decoration: none;
        color: @blue;
        &:hover{
          color: @dark-blue;
        }
      }
    }
  }
}
// ============== CLEARFIX ============= //
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
